<ng-container *ngIf="vm$ | async as vm">
  <div class="p-5 md:w-2/3 mx-auto">
    <div class="flex flex-wrap">
      @for (tag of vm.filtersToDisplay; track tag) {
        <app-tag [tag]="tag"></app-tag>
      }
    </div>
    <p class="text-3xl font-bold mt-5 mb-2">Articles</p>
    <app-horizontal-divider></app-horizontal-divider>
    <div class="mt-2">
      <app-article-list
        [articles]="type === 'feed' ? vm.feedArticles : vm.articles"></app-article-list>
    </div>
  </div>
</ng-container>
