<ng-container *ngIf="vm$ | async as vm">
  <div class="md:shadow-lg flex flex-col m-auto md:max-w-96 mt-5 p-8 rounded-md">
    <p class="text-2xl text-THEME_COLORS-ultraViolet my-4 text-center">Register</p>
    <form class="flex flex-col w-full" [formGroup]="registerUserForm" (ngSubmit)="onRegisterUser()">
      <span class="flex flex-col gap-1 mt-3"
        ><label for="username" class="text-sm text-slate-700">Username</label
        ><input
          formControlName="username"
          class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
          type="text"
          id="username"
      /></span>
      <span class="flex flex-col gap-1 mt-3"
        ><label for="email" class="text-sm text-slate-700">Email</label
        ><input
          formControlName="email"
          class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
          type="text"
          id="email"
      /></span>
      <span class="flex flex-col gap-1 mt-3"
        ><label for="password" class="text-sm text-slate-700">Password</label
        ><input
          formControlName="password"
          class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
          type="text"
          id="password"
      /></span>
      <button
        [disabled]="vm.isLoading"
        class="rounded-md p-2 bg-THEME_COLORS-ultraViolet text-THEME_COLORS-isabelline mt-4"
        type="submit">
        Register
      </button>
      <a [routerLink]="[loginRoute]" class="text-xs text-slate-700 mt-2 text-center">
        Already have an account? Log In
      </a>
    </form>
  </div>
</ng-container>
