@if (showModal) {
  <div
    *ngIf="vm$ | async as vm"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div
          class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-2xl text-center">Edit User Profile</h3>
          <button class="p-1 ml-auto" (click)="closeDialog()">
            <ng-icon name="heroXMark"></ng-icon>
          </button>
        </div>
        <!--body-->

        <div class="flex flex-col w-full p-5">
          <form [formGroup]="profileForm" (ngSubmit)="saveProfileChanges()">
            <span class="flex flex-col gap-1 mt-3"
              ><label for="image" class="text-sm text-slate-700">Photo</label>
              <div class="flex gap-4 items-center">
                <app-avatar size="l" [imageUrl]="profileForm.get('image')?.value"></app-avatar>
                <input
                  formControlName="image"
                  class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
                  type="text"
                  id="image" /></div
            ></span>
            <span class="flex flex-col gap-1 mt-3"
              ><label for="username" class="text-sm text-slate-700">Username</label
              ><input
                formControlName="username"
                class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
                type="username"
                id="username"
            /></span>
            <span class="flex flex-col gap-1 mt-3"
              ><label for="email" class="text-sm text-slate-700">Email</label
              ><input
                formControlName="email"
                class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
                type="email"
                id="email"
            /></span>
            <span class="flex flex-col gap-1 mt-3"
              ><label for="bio" class="text-sm text-slate-700">Bio</label
              ><input
                formControlName="bio"
                class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
                type="bio"
                id="bio"
            /></span>
          </form>
        </div>

        <!--footer-->
        <div
          class="flex items-center gap-2 justify-end p-4 border-t border-solid border-blueGray-200 rounded-b">
          <button
            (click)="saveProfileChanges()"
            class="rounded-md p-2 bg-THEME_COLORS-ultraViolet text-THEME_COLORS-isabelline mt-2"
            type="submit"
            [disabled]="vm.isLoading">
            Save
          </button>
          <button
            class="rounded-md p-2 text-THEME_COLORS-ultraViolet mt-2"
            type="button"
            (click)="closeDialog()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
}
