<ng-container *ngIf="vm$ | async as vm">
  <div class="shadow-lg flex flex-col m-auto max-w-[25%] mt-5 p-8 rounded-md">
    <p class="text-2xl text-THEME_COLORS-ultraViolet my-4 text-center">Login</p>
    <form [formGroup]="loginForm" class="flex flex-col w-full" (ngSubmit)="onLoginUser()">
      <span class="flex flex-col gap-1 mt-3"
        ><label for="email" class="text-sm text-slate-700">Email</label
        ><input
          formControlName="email"
          class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
          type="text"
          id="email"
      /></span>
      <span class="flex flex-col gap-1 mt-3"
        ><label for="password" class="text-sm text-slate-700">Password</label
        ><input
          formControlName="password"
          class="rounded-md p-1 border-THEME_COLORS-roseQuartz border"
          type="password"
          id="password"
      /></span>
      <a href="" class="text-xs text-slate-700 mt-3 ml-auto">Forgot Password?</a>
      <button
        [disabled]="vm.isLoading"
        class="rounded-md p-2 bg-THEME_COLORS-ultraViolet text-THEME_COLORS-isabelline mt-2"
        type="submit">
        Login
      </button>
      <a [routerLink]="[registerUserRoute]" class="text-xs text-slate-700 mt-2 text-center">
        Don't have an account? Log In
      </a>
    </form>
  </div>
</ng-container>
