<section class="p-4 md:w-2/3 mx-auto" *ngIf="vm$ | async as vm">
  <app-avatar size="xl" [imageUrl]="vm?.profile?.image ?? ''"></app-avatar>
  <div class="flex gap-2 items-end">
    <h2 class="text-2xl font-semibold mt-5">{{ vm?.profile?.username }}</h2>
    @if (vm?.currentUser?.username === vm?.profile?.username) {
      <button [routerLink]="[profileEditRoute]">
        <ng-icon name="heroPencil"></ng-icon>
      </button>
    }
  </div>
  <p class="text-sm">{{ vm?.profile?.bio }}</p>
  <div class="mt-2">
    <app-action-button [routerLink]="[loginRoute]" (performAction)="onLogoutUser()" label="Logout">
    </app-action-button>
  </div>
  <div class="mt-10">
    <app-horizontal-divider></app-horizontal-divider>
  </div>
  <div>
    <p class="text-lg font-semibold">Favorited Articles</p>
    <div class="mt-5">
      <app-article-card-list [columns]="2" [articles]="vm.articles"></app-article-card-list>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
